* {
  font-size: 1px;       /* kill font height */
  min-height: 0;
}

window#waybar {
  background: rgba(0, 0, 0, 0.0);
  min-height: 4px;
}

#workspaces {
  padding-left: 8px;
}

#workspaces button {
  min-width: 13px;
  min-height: 4px;
  padding: 0px;
  margin: 3px 2px;
  border-radius: 2px;

  color: rgba(0,0,0,0);
  background: rgba(255, 255, 255, 0.15);
}

#workspaces button.persistent {
  background: rgba(140, 160, 255, 0.6);
}

#workspaces button.persistent.active {
  background: rgba(170, 120, 255, 0.88);
}

#workspaces button.empty {
  background: rgba(255, 255, 255, 0.08);
}

#custom-pomo {
  min-height: 4px;
  margin-right: 8px;
  border-radius: 2px;

  background: rgba(0,0,0,0);

  font-family: monospace;
  font-size: 6px;

  padding: 2px 2px 2px 0px;
  color: rgba(170, 120, 255, 0.75);
}

#custom-pomo.running { color: rgba(170, 120, 255, 0.88); }
#custom-pomo.paused  { color: rgba(200, 160, 80, 0.75); }
#custom-pomo.finished{ color: rgba(50, 130, 55, 0.75); }

#clock {
  margin-right: 10px;
  font-size: 8px;
  font-family: monospace;
  color: rgba(255, 255, 255, 0.9);
}

