[Unit]
Description=Starts lock at suspend
Before=sleep.target

[Service]
User=%I
Type=forking
Environment=DISPLAY=:0
ExecStart=$Home/dotfiles/lock.sh --text "welcome back"

[Install]
WantedBy=suspend.target

#place in
#etc/systemd/system/suspendlock@anders.service
#
#activate by
#sudo systemctl enable suspendlock@niels
